.username-div {
    height: 3rem;
}

.outline-border {
    border: 5px solid black;
}

/* body {
    background-image: url(../images/ai-generated-dragon.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
} */
